{% extends "StatsBundle::layout.html.twig" %}

{% block title %}
    Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block sms_body %}

    <h2>Supprimer une compétence</h2>

    <p>
        Etes-vous certain de vouloir supprimer cette compétence "{{ skill.name}}" ?
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('sms_delete_skill', {'id': skill.id}) }}" method="post">
        <a href="{{ path('sms_view_skill', {'id': skill.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
