{% extends "StatsBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block sms_body %}

    <h2>Liste des compétences</h2>

    <ul>
        {% for skill in listSkills %}
            <li>
                <a href="{{ path('sms_view_skill', {'id': skill.id}) }}">
                    {{ skill.name}}
                </a>
            </li>
        {% else %}
            <li>Pas (encore !) de compétences</li>
        {% endfor %}
    </ul>
    <a href="{{ path('sms_add_skill') }}">Ajouter une compétence</a>
    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) if p > 0 %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('sms_home', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
